/* styles.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.hero-section {
  position: relative;
  background-image: url("../../../public/images/hero.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Adjust the overlay color and opacity */
}

.content {
  position: relative;
  z-index: 1;
  max-width: 800px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  background-color: #5f27cd;
  /* Adjust the button color */
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #341f97;
  /* Adjust the hover color */
}

/* About Us Section */
.about-section {
  color: #fff;
  padding: 20px;
}

.about-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px; /* Add space below the image */
}

.about-section .image-container {
  flex: 1;
  max-width: 40%;
}

.about-section .image-container img {
  width: 100%;
  height: auto;
}

.about-section .content-container {
  flex: 1;
  max-width: 50%;
  text-align: left;
  padding: 20px;
}

.about-section h2 {
  font-size: 2rem;
  font-weight: bold;
}

.about-section p {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.about-section .links {
  margin-top: 1.5rem;
}

.about-section .links a {
  display: block;
  color: #fff;
  font-size: 0.932rem;
  text-decoration: none;
  margin-top: 0.5rem;
}

/* Hover effect for links */
.about-section .links a:hover {
  color: #9496d9; /* Change this color to whatever you prefer */
}

/* Vision and Mission section */
.vision-mission-section {
  color: white;
  /* White text color */
  padding: 7rem 0;
  /* Padding top and bottom */
}

/* Container styling */
.vision-mission-section .container {
  max-width: 1200px;
  /* Max width of the container */
  margin: 0 auto;
  /* Center the container */
  text-align: center;
  /* Center the text */
}

/* Header styling */
.vision-mission-section h2 {
  font-size: 2rem;
  /* Font size for the header */
  font-weight: bold;
  /* Bold font weight */
}

/*  Vision and Mission content */
.vision-mission-section .grid {
  display: grid;
  /* Display as grid */
  grid-template-columns: repeat(2, 1fr);
  /* Two equal columns */
  gap: 5rem;
  /* Gap between the columns */
  margin-top: 7rem;
  /* Margin top for spacing */
  position: relative;
  /* Relative positioning for the pseudo-element */
}

/* Card styling */
.card1 {
  background-color: #14142a;
  /* Slightly darker background for the individual sections */
  padding: 1rem;
  /* Padding inside the individual sections */
  border-right: 2px solid #ffffff;
  /* White border */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 100px;
  text-align: justify;
}

.card2 {
  background-color: #14142a;
  /* Slightly darker background for the individual sections */
  padding: 1rem;
  /* Padding inside the individual sections */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-align: justify;
}

/* Vision and Mission */
.card h3 {
  font-size: 1.25rem;
  /* Font size for the sub-headers */
  font-weight: bold;
  /* Bold font weight */
  margin-bottom: 1rem;
  /* Margin bottom for spacing */
}

/* Paragraph styling */
.card p {
  font-size: 1rem;
  /* Font size for the paragraphs */
  line-height: 1.5;
  /* Line height for better readability */
}

/* Border line styling */
.border-center::before {
  content: "";
  /* Empty content for the pseudo-element */
  position: absolute;
  /* Absolute positioning */
  top: 0;
  /* Align to the top */
  bottom: 0;
  /* Align to the bottom */
  left: 50%;
  /* Position in the center horizontally */
  width: 1px;
  /* Width of the border line */
  background-color: #ffffff;
  /* White color for the border line */
  transform: translateX(-50%);
  /* Center the border line */
}

/* our Services */
.imgicon {
  border-radius: 50%;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the entire container */
}

.service-item1 {
  background-color: #9496d9;
  /* Slightly darker background for the individual sections */
  padding: 2rem;
  /* Padding inside the individual sections */
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-item2 {
  background-color: #9496d9;
  /* Slightly darker background for the individual sections */
  padding: 2rem;
  /* Padding inside the individual sections */
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.service-item3 {
  background-color: #9496d9;
  /* Slightly darker background for the individual sections */
  padding: 2rem;
  /* Padding inside the individual sections */
  border-bottom: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-item4 {
  background-color: #9496d9;
  /* Slightly darker background for the individual sections */
  padding: 2rem;
  /* Padding inside the individual sections */
  border-right: 1px solid #000000;
  /* White border */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-item5 {
  background-color: #9496d9;
  /* Slightly darker background for the individual sections */
  padding: 2rem;
  /* Padding inside the individual sections */
  border-right: 1px solid #000000;
  /* White border */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-item6 {
  background-color: #9496d9;
  /* Slightly darker background for the individual sections */
  padding: 2rem;
  /* Padding inside the individual sections */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-item h3 {
  margin-top: 10px;
}

.service-item p {
  margin-top: 5px;
}

/* our Aims */

.imgicon2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aim-item1 {
  background-color: #9496d9;
  /* Slightly darker background for the individual sections */
  padding: 2rem;
  /* Padding inside the individual sections */
  border-right: 1px solid #000000;
  /* White border */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aim-item2 {
  background-color: #9496d9;
  /* Slightly darker background for the individual sections */
  padding: 2rem;
  /* Padding inside the individual sections */
  border-right: 1px solid #000000;
  /* White border */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aim-item3 {
  background-color: #9496d9;
  /* Slightly darker background for the individual sections */
  padding: 2rem;
  /* Padding inside the individual sections */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* our Team */

.team-section {
  color: #ffff;
}
