.custom-button {
  background-color: #14142a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #4e4176;
}

.custom-button2 {
  background-color: #4e4176;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button2:hover {
  background-color: #14142a;
}

.body-section {
  background-color: #2c2c42; /* Ensure the body section has the desired background color */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
}

/* Ensure the personal-room-container takes the remaining space */
.personal-room-container {
  background-color: #000000;
  border-radius: 8px;
  color: white;
}
